@model IEnumerable<baithuchanh1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameStudent)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.PhoneStudent)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.AddStudent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameStudent)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.PhoneStudent)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.AddStudent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDStudent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDStudent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDStudent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
